.footer {
    position: sticky;
    background-color: #f2f2f2;

    ul {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
    }

    li {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .sns {
        img {
            height: 20px;
        }
        li {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    .copy_light {
        margin: 0 auto;
        text-align: center;
    }
}