.header {
    display: flex;
    /* position: fixed; */
}

.title {
    margin-left: 40px;
    a {
        text-decoration: none;
        color: #333333;
        p {
            text-decoration: none;
            color: #333333;
        }
    }
    p {
        font-size: 40px;
        font-weight:bold;
    }
}