.header {
    display: flex;
    /* position: fixed; */
    flex-wrap: wrap;
}

.title {
    margin-left: 40px;
    margin-right: auto;
    height: 100px;
    a {
        text-decoration: none;
        color: #333333;
        p {
            text-decoration: none;
            color: #333333;
        }
    }
    p {
        font-size: 40px;
        font-weight:bold;
    }
}

.btns {
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 40px;
    display: flex;
    column-gap: 30px;
}

a.new_btn_header {
    margin-top: 20px;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 50px;
    margin: auto;
    margin-top: 30px;
    padding: 1rem 4rem;
    font-weight: bold;
    border: 2px solid #27acd9;
    background: #27acd9;
    color: #fff;
    border-radius: 100vh;
    transition: 0.5s;
}
a.new_btn_header:hover {
    color: #27acd9;
    background: #fff;
}

a.doc {
    background-color: RoyalBlue;
    border: RoyalBlue;
}
a.doc:hover {
    color: royalblue;
    background-color: #fff;
    border: 2px solid royalblue;
}
