.home {
    /* font-family:"Hiragino Sans","Hiragino Kaku Gothic ProN",sans-serif; */
    margin-top: 50px;
}

.links {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    a {
        display: block;
        text-decoration: none;
        color: #333333;
        width: 350px;
    }
    .link {
        border: 10px solid #df56e6;
        border-radius: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        /* width: 350px; */
    }
}

.link_title {
    font-size: 30px;
    margin-top: 10px;
    font-family: "RocknRoll One", system-ui;
    font-family: "Kiwi Maru", system-ui;
    font-weight: bold;
}