h1{
    margin-left: 40px;
}
.qr_content_list {
    margin-left: 30px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    .qr_link_content {
        /* margin-right: 10px;
        margin-left: 10px; */
        margin: 15px;
        border: 3px solid #333333;
        border-radius: 10px;
        /* height: 400px; */
    }
}
#make {
    margin-left: 40px;
    border: 3px solid #333333;
    border-radius: 10px;
    width: 60px;
    height: 30px;
    text-align: center;
}